<template>
  <app-layout>
    <div class="speaker-container">
      <div @click="playLeft" class="primary-text">Left</div>
      <div @click="playCenter" class="secondary-text">Center</div>
      <div @click="playRight" class="primary-text">Right</div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "@/components/AppLayout";
import left from "./assets/left.wav";
import right from "./assets/right.wav";
import center from "./assets/center.wav";

export default {
  components: {
    AppLayout
  },
  methods: {
    playLeft() {
      const audio = new Audio(left);
      audio.play();
    },
    playRight() {
      const audio = new Audio(right);
      audio.play();
    },
    playCenter() {
      const audio = new Audio(center);
      audio.play();
    }
  }
};
</script>

<style lang="stylus" scoped>
.speaker-container
  display flex
  align-items center
.secondary-text, .primary-text
  font-size 40px
  cursor pointer
  user-select none
.secondary-text
  padding: 15px
@media (max-width: 900px)
  .secondary-text, .primary-text
    font-size 25px
</style>
