<template>
  <app-layout>
    <div class="about-container">
      <div class="margin-container">
        <div class="primary-text">
          This collection of web apps is hopefully a more elegant and more user
          friendly take on the ever popular "online tools". Most of the apps
          here are easily usable with the keyboard where it makes sense.
        </div>
        <div class="secondary-text">
          Contact (bug report, feature request, anything else):
          <a href="mailto:uqwyetr@gmail.com">uqwyetr@gmail.com</a>
        </div>
      </div>
    </div>
  </app-layout>
</template>
<script>
import AppLayout from "@/components/AppLayout";
export default {
  components: {
    AppLayout
  }
};
</script>

<style lang="stylus" scoped>
.about-container
  display flex
  line-height 2
  justify-content center
  align-items stretch

.margin-container
  max-width 1000px
  overflow-y auto
  margin 40px 30px 0 30px
</style>
