<template>
  <app-layout>
    <div class="main-container">
      <double-tap @singletap="count" @doubletap="reset">
        <transition-group
          name="clock"
          tag="div"
          class="chrono-container"
          :class="counting && 'active'"
        >
          <div key="minutes" v-if="minutes.show" class="primary-text numbers">
            {{ minutes.value }}
          </div>
          <div
            key="colon"
            v-if="minutes.show"
            class="secondary-text colon clock-item"
          >
            :
          </div>
          <div key="seconds" class="primary-text numbers">{{ seconds }}</div>
        </transition-group>
      </double-tap>
    </div>
    <template #help>
      <div class="secondary-text help-subtitle">
        This is a quick reset timer. Makes pressing stop, reseting and starting
        again into a single action.
      </div>

      <div class="primary-text help-title">
        Single Click | Single Tap | Press Space
      </div>
      <div class="secondary-text help-subtitle">
        Start timer | Reset and start again
      </div>
      <div class="primary-text help-title">
        Double Click | Double Tap | Press S
      </div>
      <div class="secondary-text help-subtitle">
        Reset and stop timer
      </div>
    </template>
  </app-layout>
</template>

<script>
import AppLayout from "@/components/AppLayout.vue";
import DoubleTap from "@/components/DoubleTap.vue";

export default {
  data() {
    return {
      elapsedTime: 0,
      counting: false,
      intervalHandler: undefined,
      message: "Hello"
    };
  },
  computed: {
    minutes() {
      let value = parseInt(this.elapsedTime / 60);
      value = value < 10 ? "0" + value : value;
      return {
        show: this.elapsedTime >= 60,
        value
      };
    },
    seconds() {
      let seconds = this.elapsedTime % 60;
      if (this.elapsedTime > 10 && seconds < 10) {
        seconds = "0" + seconds;
      }
      return seconds;
    }
  },
  methods: {
    reset() {
      clearInterval(this.intervalHandler);
      this.elapsedTime = 0;
      this.counting = false;
      this.intervalHandler = undefined;
    },
    count() {
      this.reset();
      this.counting = true;
      const increment = () => {
        this.elapsedTime += 1;
      };
      this.intervalHandler = setInterval(increment, 1000);
    },
    keyBindings(e) {
      if (e.keyCode == 32) {
        this.count();
      }
      if (e.keyCode == 83) {
        this.reset();
      }
    }
  },
  mounted() {
    window.addEventListener("keyup", this.keyBindings);
  },
  destroyed() {
    window.removeEventListener("keyup", this.keyBindings);
  },
  components: {
    AppLayout,
    DoubleTap
  }
};
</script>

<style lang="stylus" scoped>
.chrono-container
  display flex
  align-items center
  user-select none
  cursor pointer
  opacity 0.5
  padding 50px
  transition all 0.3s

  &.active
    opacity 1

.numbers
  font-size 120px
  transition all 0.3s

.colon
  font-size 100px
  margin 30px
  transition all 0.3s

.clock-enter-active, .clock-leave-active > *
  transition all 0.3s

.clock-enter, .clock-leave-to
  opacity 0
  // transform translateX(30px)

.clock-leave-active
  position absolute

.help-title
  padding-bottom 10px

.help-subtitle
  padding-bottom 20px

@media (max-width: 900px)
  .numbers
    font-size 70px

  .colon
    font-size 60px

  .help-title, .help-subtitle
    font-size 14px

  .help-title
    overflow auto
    white-space nowrap
</style>
