<template>
  <div class="root-container">
    <div class="bar-container">
      <!-- Same size as About link to keep title centered -->
      <div class="ghost-item"></div>
      <div class="title-container">
        <div class="primary-text big-text override">minimal</div>
        <div class="secondary-text medium-text override">
          Web Apps
        </div>
      </div>
      <router-link to="/about" class="secondary-text">
        About
      </router-link>
    </div>
    <div class="links-container">
      <div class="links-child-container">
        <app-link
          title="Quick Reset Chrono"
          subtitle="For timing exercise rests"
          to="/chrono"
        />
        <app-link
          title="Speaker Stereo Test"
          subtitle="For testing speakers"
          to="/speaker"
        />
        <app-link
          title="Tally Counter"
          subtitle="For counting things"
          to="/tally"
        />
        <app-link
          title="Metronome"
          subtitle="For making you a better musician"
          to="/metronome"
        />
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import AppLink from "@/components/AppLink.vue";

export default {
  name: "home",
  computed: {
    bigWindow() {
      return window.innerWidth > 1000;
    }
  },
  components: {
    AppLink
  }
};
</script>

<style lang="stylus" scoped>
@import '../main'

.root-container
  flex 1
  display flex
  align-items stretch

.bar-container
  display flex
  flex-direction column
  justify-content space-around
  box-shadow 0 0 6px #ddd

  > *
    margin 0 30px

.ghost-item
  height 19px

.links-container
  flex 1
  display flex
  flex-direction column
  justify-content center
  align-items center

.links-child-container
  display flex
  flex-direction column
  overflow-y auto

  > *
    padding 30px

@media (max-width: 600px)
  .container
    flex-direction column
    position fixed

  .bar-container
    position fixed
    top 0
    left 0
    right 0
    background-color #fff
    flex-direction row
    align-items center
    justify-content space-between

    > *
      margin 10px

  .ghost-item
    display none

  .links-child-container
    padding-top 50px
    align-self stretch
    align-items flex-start

  .override
    font-size 1rem

  .bar-container > *
    padding 10px

  .title-container
    display flex

    > *
      padding 0 2px
</style>
