<template>
  <app-layout>
    <div class="tally-container">
      <div class="primary-text number" @click="up">{{ count }}</div>
      <div class="secondary-text button" @click="reset">Reset</div>
    </div>
    <template #help>
      <div class="secondary-text help-subtitle">
        Simple tally counter
      </div>
      <div class="primary-text help-title">
        Click | Tap | Press Space
      </div>
      <div class="secondary-text help-subtitle">
        Start counting
      </div>
      <div class="primary-text help-title">
        Press the button | Press S
      </div>
      <div class="secondary-text help-subtitle">
        Reset to 0
      </div>
    </template>
  </app-layout>
</template>

<script>
import AppLayout from "@/components/AppLayout";
export default {
  data() {
    return {
      count: 0
    };
  },
  methods: {
    up() {
      this.count += 1;
    },
    reset() {
      this.count = 0;
    },
    keyBindings(e) {
      if (e.keyCode == 32) {
        this.up();
      }
      if (e.keyCode == 83) {
        this.reset();
      }
    }
  },
  components: {
    AppLayout
  },
  mounted() {
    window.addEventListener("keyup", this.keyBindings);
  },
  destroyed() {
    window.removeEventListener("keyup", this.keyBindings);
  }
};
</script>

<style lang="stylus" scoped>
.tally-container
  display flex
  flex-direction column
  align-items center

.number
  font-size 120px
  user-select none
  margin-bottom 30px

.button
  font-size 30px
  user-select none
  cursor pointer

.help-title
  padding-bottom 10px

.help-subtitle
  padding-bottom 20px

@media (max-width: 900px)
  .number
    font-size 70px

  .button
    font-size 20px

  .help-title, .help-subtitle
    font-size 14px
</style>
