<template>
  <div>
    <router-link class="link" :to="to">
      <div class=" primary-text">{{ title }}</div>
      <div class=" secondary-text">{{ subtitle }}</div>
    </router-link>
  </div>
</template>

<script>
export default {
  props: ["title", "subtitle", "to"]
};
</script>
