<template>
  <div class="layout-container">
    <header ref="header" class="header">
      <router-link to="/">
        <i class="material-icons">home</i>
      </router-link>
      <button v-if="$slots.help" class="icon-container" @click="toggleHelp">
        <i class="material-icons">help</i>
      </button>
    </header>
    <div class="app">
      <slot></slot>
    </div>
    <!-- For centering middle with flex, same height as header -->
    <div ref="ghost" :style="style"></div>
    <transition name="fade">
      <div class="" v-if="helpVisible">
        <div class="help-modal-curtain" @click="toggleHelp"></div>
        <div class="help-modal">
          <slot name="help"></slot>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: ["help"],
  data() {
    return {
      style: {},
      helpVisible: false
    };
  },
  methods: {
    toggleHelp() {
      this.helpVisible = !this.helpVisible;
    }
  },
  mounted() {
    this.style = {
      flex: "none",
      height: this.$refs.header.offsetHeight + "px"
    };
  }
};
</script>

<style lang="stylus" scoped>
.layout-container
  flex 1
  display flex
  flex-direction column
  align-items stretch

.header
  flex none
  display flex
  justify-content space-between

.app
  display flex
  flex-direction column
  flex 1 1 auto
  justify-content center
  align-items center

.icon-container
  outline none
  background none
  border none
  padding none

.help-modal-curtain
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background-color #000
  opacity 0.1

.help-modal
  position fixed
  z-index 100
  padding 100px
  background-color #fff
  box-shadow 0 0 6px #eee
  top 50%
  left 50%
  transform translate(-50%, -50%)
  max-height 100vh
  max-width 70vw
  overflow: auto

.fade-enter-active, .fade-leave-active
  transition all 0.3s

.fade-enter, .fade-leave-to
  opacity 0

@media (max-width: 900px)
  .help-modal
    padding 20px
</style>
