<template>
  <div @click="handleTap">
    <slot></slot>
  </div>
</template>

<script>
export default {
  data() {
    return {
      pressed: false
    };
  },
  methods: {
    handleTap() {
      const threshold = 300;
      if (this.pressed) {
        this.$emit("doubletap");
        return;
      }
      this.$emit("singletap");
      this.pressed = true;
      const clear = () => {
        this.pressed = false;
      };
      setTimeout(clear, threshold);
    }
  }
};
</script>
