<template>
  <app-layout>
    <div class="metronome-container">
      <input
        ref="tempo"
        v-model="tempo"
        type="number"
        class="primary-text tempo"
      />
      <div class="time-signature ">
        <select class="primary-text" v-model="timeSignature.top">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
        <span class="secondary-text">/</span>
        <select class="primary-text" v-model="timeSignature.bottom">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="4">4</option>
          <option value="8">8</option>
        </select>
      </div>
      <button @click="toggle" class="secondary-text button">
        {{ ticking ? "Stop" : "Start" }}
      </button>
    </div>
    <template #help>
      <div class="primary-text">
        Press the button or the space key to start and stop the metronome
      </div>
    </template>
  </app-layout>
</template>

<script>
import AppLayout from "@/components/AppLayout";
import Metronome from "./logic";

export default {
  data() {
    return {
      tempo: 120,
      ticking: false,
      timeSignature: {
        top: "4",
        bottom: "4"
      },
      metronome: undefined
    };
  },
  watch: {
    tempo(val) {
      this.metronome.changeTempo(val);
    },
    "timeSignature.top"(val) {
      this.metronome.changeTimeSignature(
        parseInt(val),
        parseInt(this.timeSignature.bottom)
      );
    },
    "timeSignature.bottom"(val) {
      this.metronome.changeTimeSignature(
        parseInt(this.timeSignature.top),
        parseInt(val)
      );
    }
  },
  methods: {
    toggle() {
      this.metronome.toggle();
    },
    keyBinding(e) {
      if (e.keyCode == 32) {
        this.toggle();
      }
    }
  },
  components: {
    AppLayout
  },
  mounted() {
    window.addEventListener("keyup", this.keyBinding);
    this.$refs.tempo.focus();
    this.metronome = new Metronome(this.tempo, this.timeSignature);
    this.metronome.onStart(() => {
      this.ticking = true;
    });
    this.metronome.onStop(() => {
      this.ticking = false;
    });
  },
  destroyed() {
    window.removeEventListener("keyup", this.keyBinding);
    this.metronome.stop();
  }
};
</script>

<style lang="stylus" scoped>
@import '../../main'

.metronome-container
  display flex
  flex-direction column
  align-items center

.button
  margin-top 20px
  background none
  border none
  outline none
  font-size 20px

.tempo
  text-align center
  border-radius 0
  border 0
  border-bottom 2px solid primary-color
  font-size 100px
  width 180px
  outline none

.time-signature
  margin 10px

  *
    font-size 40px
    margin 10px

  select
    appearance none
    border none
    border-radius 0
    border-bottom 2px solid primary-color

.tempo::-webkit-inner-spin-button, .tempo::-webkit-outer-spin-button
  -webkit-appearance none
  margin 0
</style>
