@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat&display=swap')
html
  height 100%
  font-size 15px

@media (min-width 320px) 
  html 
    font-size calc(15px + 6 * ((100vw - 320px) / 680))
  

@media (min-width 1000px) 
  html 
    font-size 21px
body
  margin 0
  height 100%
  width 100%
  display flex
  align-items stretch

primary-color = #470511
secondary-color = #F24B6A
primary-font = 'Merriweather', sans-serif
secondary-font = 'Montserrat', sans-serif

.primary-text 
  font-family primary-font
  color primary-color

.secondary-text 
  font-family secondary-font
  color secondary-color

.big-text
  font-size 3rem

.medium-text
  font-size 2rem

i
  color secondary-color
  font-size 30px
  padding 12px

a
  text-decoration none

